body {
  margin: 0;
  overflow: hidden;
  font-family: 'Arial', sans-serif;
  background-color: #000;
  color: white;
  user-select: none;
}

#splash-screen {
  position: fixed;
  inset: 0;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 999;
  text-align: center;
}

#splash-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: silver;
  text-shadow: 2px 2px 5px #aaa, 0 0 10px white;
  margin-bottom: 20px;
}

#splash-logo {
  width: 250px;
  margin-bottom: 20px;
}

#enter-btn {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  background-color: #333;
  color: white;
  border: 2px solid silver;
  border-radius: 10px;
  transition: background-color 0.3s;
}

#enter-btn:hover {
  background-color: #555;
}

#fitting-room {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

/* Botones de navegación prendas */
.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: black;
  font-size: 2.5rem;
  cursor: pointer;
  z-index: 10;
  user-select: none;
  padding: 0;
  border-radius: 0;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-btn:hover {
  background: none;
}

/* Botón cambiar cámara */
#toggle-camera-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 20;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

#toggle-camera-btn:hover {
  background: none;
}


/* Nombre de la prenda debajo, centrado */
#clothing-name {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  color: silver;
  text-shadow: 2px 2px 8px #aaa;
  font-weight: bold;
  user-select: none;
}
